<!doctype html>
<html>
<head>
 <title>File Analysis</title>
 <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
</head>
<body>
 <form method="post" enctype="multipart/form-data" action="/upload">
 	<div >
      <label>Submit a file to view its fizesize</label>
      <input type="file" name="file-analysis"/>
 	</div>
 	<div>
      <button class="btn btn-primary" type="submit">Submit</button>
 	</div>
 </form>
</body>
</html>
